/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/****** ------------------------------------------------------------------------------
 ****** AFFICHAGE D'UN SUJET --------------------------------------------------------- ******/

/* PARTICIPANTS DU SUJET ---*/

/* Conteneur de la liste des participants au sujet */
.poster-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* Avatar du participant*/
.poster {
    background: var(--poster-avatar);
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-left: -8px;
    border: 2px solid var(--neutralDark);
    background-size: cover;
    background-position: center;
}

/* Lien de renvoi vers son profil */
.poster a {
    display: block;
    height: 100%;
}

/* Nombre de participants */
.poster-count {
    margin-left: 8px;
}

.poster-more-list {
    display: none;
}

.poster-more {
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: relative;
}

.poster-more:hover .poster-more-list {
    display: block;
    position: absolute;
    top: 29px;
    width: 150px;
    background: var(--neutralDarker);
    padding: 10px;
    border-radius: 5px;
}


/*** ------------------------------- ***/
/*** SUJET ------------------------- ***/


.post_row {
    background: var(--neutral);
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: -webkit-max-content auto;
    -ms-grid-rows: max-content auto;
    grid-template-rows: -webkit-max-content auto;
    grid-template-rows: max-content auto;
    -ms-grid-columns: -webkit-min-content 1fr;
    -ms-grid-columns: min-content 1fr;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    border-bottom: 1px solid var(--neutralDark);
}


.post_row > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}


.post_row > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}


.post_row > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}


.post_row > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

div.post_row:nth-of-type(2) {
    border-radius: 5px 5px 0 0;
}

div.post_row:last-of-type {
    border-radius: 0 0 5px 5px;
    border-bottom: none
}

.post_details {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid var(--neutralDark);
    width: 100%;
}

.post_date {
    -webkit-box-flex: 20;
        -ms-flex-positive: 20;
            flex-grow: 20;
}


/* BOUTONS D'EDITION DU MESSAGE --- */
/* Conteneur boutons d'édition */
ul.profile-icons {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    list-style-type: none;
}

/*UN SEUL bouton d'édition */
ul.profile-icons li {
    padding: 2px 4px;
    border-radius: 5px;
}

/*hover d'un bouton d'édition*/
ul.profile-icons li:hover {
    background: var(--neutralDark);
}



/* BOUTON LIKE --- */
/* Conteneur du bouton like */
.like_button {
    float: right;
    margin-left: 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    cursor: pointer;
}

/* Bouton like */
.rep-button,
.rep-button:active,
.rep-button:focus {
    background: var(--neutralDark);
    color: var(--textColor);
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
    font-weight: 600;
}

/*Bouton au survol*/
.rep-button:hover {
    background: var(--var(--contrastLighter))
}

/* Texte "j'aime" */
button.rep-button .like_text {}

/*compteur de like*/
button.rep-button .rep-nb {
    margin-left: 5px;
    padding: 0 3px;
    background: var(--neutral);
    border-radius: 3px;
}


.post_pseudo {
    font-weight: bold;
}
.field_content img {
max-width: 200px;
    -o-object-fit: cover;
       object-fit: cover;
}
.post_avatar a img {
width: 250px;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  border: 5px solid var(--neutralDark);
    border-radius: 10px;
}
/* Lien "@" de mention */
a.fa-mention {}


/* Mention "en ligne" */
.online {
    display: inline-block;
    position: relative;
    background-color: var(--neutralDarker);
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 auto;
}

.online:empty {display: none}

.post_message {padding: 25px;}


/* REPONSE RAPIDE --- */
/*supression de la mention "réponse rapide" */
.quickreply div.h3 {display: none}

/*centrer la réponse rapide*/
.quickreply {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


/* Retire le cadre de la réponse rapide pour les invités */
#quickreply_content:empty {display: none}


.contmsg {
background-size: auto;
    background-image: url(https://i.imgur.com/hCcDeuf.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/**********enfer des profils *********/ 

.strucmsg {
  display:-ms-grid;
  display:grid;
  -ms-grid-rows:auto;
  grid-template-rows:auto;
-ms-grid-columns: 300px auto;
grid-template-columns: 300px auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
} 

.strucmsg > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
} 

.strucmsg > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.post_profile {
    padding: 10px;
    background: var(--text);
}

.post_profile {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
    -ms-grid-column: 1;
    grid-column: 1;
}

.strucmsg > .lateprofile {
  -ms-grid-row: 1;
  grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  height: 250px;
}

.strucmsg > .post_message {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
}

.post_profile > center , .post_pseudo, .lateprofile > .post_profile .post_avatar {display:none;}

.post_avatar {
  margin-top: 10px;
    text-align: center;
}

.lateprofile > .latpost_profile {
  background-size: cover;
    background: -o-linear-gradient(179deg, rgba(199, 157, 75, 0.5) 0.14%, #1b1619 100.98%), url(https://i.imgur.com/hCcDeuf.png);
    background: linear-gradient(271deg, rgba(199, 157, 75, 0.5) 0.14%, #1b1619 100.98%), url(https://i.imgur.com/hCcDeuf.png);
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.lateprofile > .latpost_profile .post_pseudo, .lateprofile > .latpost_profile .post_userinfo{
    display: block;
}

.lateprofile > .latpost_profile .post_pseudo a {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #FFFFFF;
    max-height: 90px;
    overflow: auto;
}

.user_field.field-icon-profil span.field_content img{width: 195px;
    height: 50px;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
    border: 5px solid var(--neutralDark);}

.lateprofile > .latpost_profile .post_userinfo .user_field.field-citation-de-votre-choix , .post_userinfo > div:not(.user_field.field-citation-de-votre-choix){
  display:none;
}

.user_field.field-citation-de-votre-choix {
background: rgba(217, 217, 217, 0.1);
    border-radius: 10px;
    text-align: center;
    color: var(--neutral);
  padding: 10px 0;
}

.user_field.field-citation-de-votre-choix > .field_label {
  display:none;
}
.lateprofile {
}

.cont_late {
  -ms-flex-pack: distribute;
      justify-content: space-around;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        margin-top: 10px;
}
.cont_late img {
    width: 195px;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
    border: 5px solid var(--neutral);
    border-radius: 10px;
}

.tags_cont {
  
}

.champ_pronom , .champ_tw , .champ_feat {
background: rgba(255, 255, 255, 0.5);
border-radius: 10px;
  padding:1px 10px;
}

/*****/

.slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  position: relative;
}

.tabs {
  padding:10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tab {
  cursor: pointer;
  padding: 10px;
  background-color: #ccc;
}

.tab.active {
  background-color: #f00;
}

.contenta {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.content-item {
position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 10px;
    background-color: var(--neutralDark);
    border-radius: 10px 0 0 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.content-item.slide-in {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.content-item.slide-out {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.tab-button {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
    -moz-text-align-last: center;
         text-align-last: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    font-weight: 800;
    font-size: 48px;
}

.tab-button.tab-button1 {
  background-color: var(--text);
  color:var(--neutral);
  -webkit-transition:ease .5s;
  -o-transition:ease .5s;
  transition:ease .5s;
}

.tab-button.tab-button2 {
    background-color: rgba(255, 255, 255, 0.8);
    color:var(--text);
  -webkit-transition:ease .5s;
  -o-transition:ease .5s;
  transition:ease .5s;
}

.post_avatar {
display: -ms-grid;
display: grid;
    overflow: hidden;
    width: 260px;
    height: 360px;
    background-size: cover;
    margin: 10px auto 0 auto;
}

.post_avatar > div {
  -ms-grid-column:1;
  grid-column:1;
  -ms-grid-row:1;
  grid-row:1;
  z-index:100;
  background:rgba(30, 30, 30, 0.3);
  border-radius:10px;
  margin-top:360px;
-webkit-transition: .5s ease;
-o-transition: .5s ease;
transition: .5s ease;
  display: -ms-grid;
  display: grid;
    -ms-grid-rows: 45px auto;
    grid-template-rows: 45px auto;
}

.post_avatar:hover > div {
    margin-top:0px;
-webkit-transition: .5s ease;
-o-transition: .5s ease;
transition: .5s ease;
}

.tophov {
background: var(--accentClr);
    border-radius: 10px 10px 0 0;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    place-content: center;
    z-index: 100;
}

.post_avatar span.champ_tier {
  font-weight: 700;
font-size: 12px;
line-height: 16px;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
text-transform: uppercase;
color: #FFFFFF;
}
.iconmood {
      position: relative;
    margin-bottom: -50px;
      margin-left: -45px;
}
.iconmood img {
width: 80px;
    height: 80px;
    margin-left: -35px;
    margin-right: 20px;
    border: 5px solid #1E1E1E;
    border-radius: 100px;
    -o-object-fit: cover;
       object-fit: cover;
}

.midhov {
  background:rgba(28 25 27 / 70%);
  padding: 20px;
    -webkit-transition:1s ease;
    -o-transition:1s ease;
    transition:1s ease;
}

.midhov:hover {
-webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
-webkit-transition:1s ease;
-o-transition:1s ease;
transition:1s ease;
}

.midhov > div {
    background: var(--text);
    color: var(--neutral);
    border-radius: 10px;
    min-height: 150px;
    max-height: 200px;
    overflow: auto;
    margin-top: 25px;
    padding: 10px;
    text-align: justify;
}
.midhov > div::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
}

.midhov > div::-webkit-scrollbar-thumb {
    background: #000;
}


.post_avatar a {
    -ms-grid-column:1;
    grid-column:1;
  -ms-grid-row:1;
  grid-row:1;
}


/**************** profil wombat *********************/




.container#wombat {
    background-size: auto;
    background:-webkit-gradient(linear, left top, left bottom, from(#507777), to(#00000070)), url(https://i.imgur.com/hCcDeuf.png);
    background:-o-linear-gradient(top, #507777, #00000070), url(https://i.imgur.com/hCcDeuf.png);
    background:linear-gradient(180deg, #507777, #00000070), url(https://i.imgur.com/hCcDeuf.png);
  padding: 10px;
    border-radius: 5px;
}

.wombat-aside .user_profile {
    visibility: hidden;     position: absolute;
}

.discord_gimmik {
  padding:20px;
    background:#141414;
order-radius: 0px 0px 10px 10px;
color:white;
font-family: 'Manrope', sans-serif;}

.discord_gimmik h1 {
      -webkit-margin-before: 0em;
              margin-block-start: 0em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
        font-size: 35px;
    font-family: 'Manrope';
    text-transform: capitalize;
    text-align: left;
}

.discord_inline {
    line-height: 0.7;
  font-weight: 700;
}

.container#wombat {
  background:#262626;
}

.wombat-aside .profile_admin {
  display:none;
}

div.quote {
    font-weight: 400;
    line-height: 1;
    max-height: 100px;
    overflow: auto;
    text-align: justify;
    background: #373737;
    padding: 10px;
    border-radius: 5px;
}

.discord_gimmik .iconmood img, .discord_gimmik .iconmood {
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
}

.wombat-aside .iconpost {
  height:65px;
}

.wombat-aside .iconpost img {
    height: 65px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.discord_gimmik_bottom {   
  border-top: 1px solid white;
    margin-top: 15px;
    padding: 10px 0;}

.discord_gimmik_date {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.discord_gimmik_player {
  margin: 10px 0;
}
.discord_gimmik_player strong,.discord_gimmik_date strong, .discord_gimmik_tags strong, .discord_gimmik_bottom strong {
text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
}

.discord_gimmik_player img {
    width: 75px;
    height: 75px;
}

.fakeplayer{
display: -webkit-box;
display: -ms-flexbox;
display: flex;margin-top: 10px;gap:10px;
}

.fakeplayer div {
background: #373737;
  color: #b2b2b2;
  border-radius: 5px;
  text-align: center;
  width:100%;
   -webkit-transition:1s ease;
   -o-transition:1s ease;
   transition:1s ease;
}
.fakeplayer div:nth-of-type(2) {
background-image: url(https://i.imgur.com/l7BUmMl.png);
    background-size: contain;
    width: 25px;
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 10px;
}
.discord_gimmik .champ_runes {
  margin-top: 10px;
      background: #373737;
    border-radius: 5px;
}
.discord_gimmik_tags { 
    line-height: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  max-height:150px;
  overflow:auto;
}

.discord_gimmik_links {
  margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
}

.discord_gimmik_links a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    background: var(--accentClr);
    padding: 2px 4px;
    border-radius: 5px;
}

.fakeplayer div a {
  text-decoration:none;
  color:unset;
}

.fakeplayer div:hover {
  background: #b2b2b2;
    color: #373737;
  -webkit-transition:1s ease;
  -o-transition:1s ease;
  transition:1s ease;
}
