@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
:root{
  --lighter:#FFD562;
  --general:#99803B;
  --font-color:#fff;
  --bg-lighter:#161616;
  --bg:#0c0c0c;
  --gradient:linear-gradient(180deg,var(--lighter),var(--general));
  
  --font:'Arial',sans serif;
  --title:'Playfair Display SC',serif;
  --under:'Instrument Serif',serif;
}

*{
  box-sizing:border-box;  
  scroll-behavior: smooth;
}

body{
  background-color:var(--bg);
  font-family:var(--font);
  color:var(--font-color);
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--gradient);
  border-radius: 5px;
  
}

.fixed{
  border-left:500px solid var(--bg-lighter);
  width:1400px;
  position:fixed;
  top:0;
  height:100vh;
  z-index:-1;
}

.menu{
  font-family:var(--title);  
  font-size:32px;
  font-weight:700;  
  background:var(--gradient);
  background-clip: text;
  color:transparent;
  text-transform:uppercase;
}

.right{
  position:relative;
  width:900px; 
}

.page{
  opacity:0;
position:absolute;
  inset:0;
  transition:all .8s ease;
}

input{display:none}

#page1:checked ~ .left #page1,
#page2:checked ~ .left #page2,
#page3:checked ~ .left #page3,
#page4:checked ~ .left #page4,
#page5:checked ~ .left #page5,
#page6:checked ~ .left #page6,
#page7:checked ~ .left #page7{
  color:var(--lighter); 
  max-height: 900px;
}

#page1:checked ~ .left #page1 label,
#page2:checked ~ .left #page2 label,
#page3:checked ~ .left #page3 label,
#page4:checked ~ .left #page4 label,
#page5:checked ~ .left #page5 label,
#page6:checked ~ .left #page6 label,
#page7:checked ~ .left #page7 label{
  text-decoration: underline 2px;
  text-underline-offset: 5px;
  font-style:italic; 
}

#page1:checked ~ .left ~ .right #page1,
#page2:checked ~ .left ~ .right #page2,
#page3:checked ~ .left ~ .right #page3,
#page4:checked ~ .left ~ .right #page4,
#page5:checked ~ .left ~ .right #page5,
#page6:checked ~ .left ~ .right #page6,
#page7:checked ~ .left ~ .right #page7{
  opacity:1;
  z-index:3;
}

.left{
  display:flex;
  flex-direction:column;
  width:500px;
  align-items: flex-start;
  background:var(--bg-lighter);
  padding:50px;
  overflow: visible;
}

.sticky{
  position:fixed;
  top:50px;
  height:calc(100vh - 50px);
  overflow-y:auto;
}

.sticky::-webkit-scrollbar-thumb,
.sticky::-webkit-scrollbar-track{
  background: transparent;  
}

.left label{
  font-family:var(--under);  
  font-size:32px;
  letter-spacing:3px;
  font-weight:400;
  cursor:pointer;
  white-space:nowrap;
}

.everything{
  display:flex;
  position:absolute;
  inset:0;
  overflow-y:auto;
  overflow-x:hidden;
  justify-content: center;
}

#page1{--head-img:url('https://i.imgur.com/scNV1zc.jpeg');}
#page2{--head-img:url('https://i.imgur.com/f95LXOd.jpeg');}
#page3{--head-img:url('https://i.imgur.com/CjqXB5S.jpeg');}
#page4{--head-img:url('https://i.imgur.com/f95LXOd.jpeg');}
#page5{--head-img:url('https://i.imgur.com/FSVS6Pm.jpeg');}
#page6{--head-img:url('https://i.imgur.com/813dpiz.jpeg');}
#page7{--head-img:url('https://i.imgur.com/CjqXB5S.jpeg');}

.head{
  width:900px;
  height:410px;
  background-image:var(--head-img);
  background-size:cover;
     mask-image: linear-gradient(to top, transparent 0%, black 150%);
}

.headtext{
  margin-top:-50px;
  display:flex;
  flex-direction:column;
      align-items: center;
  text-transform:uppercase;
}

.headtext b{
  font-family:var(--title);  
  font-size:64px;
  font-weight:700;  
  background:var(--gradient);
  background-clip: text;
  color:transparent;
}

.headtext span{
  font-family:var(--under);
  font-weight:400;
  font-size:24px;
}

.headtext .sep{
  background-image:url('https://i.imgur.com/eqURS1U.png');
  width:900px;
  height:30px;
  background-size:130%;
  background-position:top center;
  margin-top:10px;
}

.texte{
  padding:75px;
  text-align:justify;
}

.texte h{
  display:block;
  text-align:center;
  font-family:var(--under);
  font-size:24px;
  margin:40px 0 20px 0;
}

.left li{
  max-height: 40px;
}

.left *{
  transition:max-height .6s ease,opacity .6s ease;
}

.ssmenu{
  max-height:0;
  overflow:hidden;  
  opacity:0;
  color:white;
  background:var(--bg);
  padding:10px;
  font-style:normal;
  font-family:var(--under);
  font-size:32px;
  margin:10px 0;
  z-index:-1;
  position:relative;
}

.ssmenu a{
  text-decoration:none;
  color:var(--font-color);
}

#page1:checked ~ .left #menu1,
#page2:checked ~ .left #menu2,
#page4:checked ~ .left #menu4{
  max-height:900px;
  opacity:1;
  z-index:3;
}

.ssmenu ul{
  list-style-type: decimal;
}

.dieux{
  position:relative;
  height:850px;
  display:flex;
  gap:20px;
  width:100%;
  justify-content: center;
}

.desc_dieux{
  height:850px;
  overflow:hidden;
}

.desc_dieu{
height:850px;
width:620px;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.scroll_dieux{
  transition:all 1s ease;
display:flex;
flex-direction:column;
gap:20px;
}

.ascenseur{
  position:sticky;
inset:0 auto 0 0;
  height:850px;
  width:210px;
  display:flex;
  flex-direction:column;
  background-color:var(--bg-lighter);
  border:1px solid var(--general);
  justify-content: space-around;
    align-items: center;
  padding-bottom:20px;
}

.ascenseur b{ 
  font-family: var(--under);
    font-weight: 400;
    font-size: 22px;
  text-transform:uppercase;
  color:var(--general);
}

.ascenseur label{
  border-radius:100px;
  border:3px solid var(--general);
  transition:all 0.8s ease;
}

.ascenseur label div{
  cursor:pointer;
  background-image:var(--dieu-img);
  width:100px;
  height:100px;  
  border-radius:100px;
  background-size:cover;
  filter:grayscale(1);
  transition:all 0.8s ease;
}

.ascenseur label:hover{
  transform:scale(1.1);
}
.ascenseur label div:hover{
  filter:grayscale(0);  
}

#ena{--dieu-img:url('https://i.ibb.co/YBqBCjVp/img-7778.webp');}
#idrila{--dieu-img:url('https://i.ibb.co/kVygKZPt/Aeon-Fuli.webp');}
#mythus{--dieu-img:url('https://i.ibb.co/tM9KKXbq/Aeon-Mythus.webp');}
#oroboros{--dieu-img:url('https://i.ibb.co/M5K9GN1L/Aeon-Oroboros.webp');}
#tayzz{--dieu-img:url('https://i.ibb.co/rKR9RpwF/Aeon-Tayzzyronth.webp');}
#yaoshi{--dieu-img:url('https://i.ibb.co/35mtg3gM/Aeon-Yaoshi.webp');}

#idrila:checked ~ .ascenseur ~ .desc_dieux .scroll_dieux{transform:translateY(-870px);}
#yaoshi:checked ~ .ascenseur ~ .desc_dieux .scroll_dieux{transform:translateY(-1740px);}
#oroboros:checked ~ .ascenseur ~ .desc_dieux .scroll_dieux{transform:translateY(-1740px);}
#tayzz:checked ~ .ascenseur ~ .desc_dieux .scroll_dieux{transform:translateY(-2610px);}
#mythus:checked ~ .ascenseur ~ .desc_dieux .scroll_dieux{transform:translateY(-3480px);}

.head_dieu{
  background:var(--bg-lighter);
  padding:50px 230px 50px 50px;
  border:1px solid var(--general);
  position:relative;
  height:200px;
}

.head_dieu h{
  color:transparent;
  background:var(--gradient);
  -webkit-background-clip:text;
  font-family:var(--title);
  font-weight:700;
  font-size:32px;
  text-transform:uppercase;
  letter-spacing:2px;
}

.head_dieu span{
  text-transform:uppercase;
  font-family:var(--under);
  font-size:16px;
}

.texte_dieu{
  background:var(--bg-lighter);
  padding:50px;
  border:1px solid var(--general);
  position:relative;
  height: 640px;
}

.img_dieu1{
  position:absolute;
  inset:-20px -50px auto auto;
  width:300px;
  height:260px;
  background-image:var(--dieu-img);
  background-size:cover;
  filter:grayscale(1) contrast(1.5);
}

.img_dieu2{
  position:absolute;
  inset:0;
  background-image:var(--dieu-img);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  filter:grayscale(1) contrast(1.5);
  z-index:0;
  mix-blend-mode: multiply;
}

.texte_dieu .txt{
      position: relative;
    z-index: 1;
    height: 520px;
    overflow: auto;
    padding-right: 5px;
}

#ena:checked ~ .ascenseur #ena,
#idrila:checked ~ .ascenseur #idrila,
#yaoshi:checked ~ .ascenseur #yaoshi,
#yaoshi:checked ~ .ascenseur #oroboros,
#oroboros:checked ~ .ascenseur #oroboros,
#oroboros:checked ~ .ascenseur #yaoshi,
#tayzz:checked ~ .ascenseur #tayzz,
#mythus:checked ~ .ascenseur #mythus{
  transform:scale(1.1);
}

#ena:checked ~ .ascenseur #ena div,
#idrila:checked ~ .ascenseur #idrila div,
#yaoshi:checked ~ .ascenseur #yaoshi div,
#yaoshi:checked ~ .ascenseur #oroboros div,
#oroboros:checked ~ .ascenseur #oroboros div,
#oroboros:checked ~ .ascenseur #yaoshi div,
#tayzz:checked ~ .ascenseur #tayzz div,
#mythus:checked ~ .ascenseur #mythus div{filter:grayscale(0);}

.texte .sep_titre{
      display: grid;
    grid-template-columns: min-content auto;
  font-family:var(--under);
  color:white;
  white-space:nowrap;
      align-items: center;
  gap:10px;
  font-size:24px;
}

.texte .sep_titre#b{
    grid-template-columns:auto min-content;
}

.texte .ligne{
  height:1px;
background:var(--lighter);
}

.illu_sep{
  height:170px;
  background-size:cover;
  background-position:center;
  margin:30px 0;
}
.illu_sep2{
  height:270px;
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  margin:30px 0;
}

.texte u,.txt u{
  text-decoration: underline 2px;
    text-underline-offset: 3px;
}

.texte q,.texte g,.txt g,.txt q{color:var(--general);}
.texte c,.txt c{color:var(--lighter);}

.texte span{
  color:transparent;
  background:var(--gradient);
  -webkit-background-clip:text;
}

.glossaire{
  font-weight:700;
  font-size:36px;
  font-style:italic;
  color:var(--lighter);
}

#glossaire ul li{
  margin: 20px 0;
}
