
.rppostln > ::-webkit-scrollbar {
    width: 13px;
  }

.rppostln > ::-webkit-scrollbar-track {
    background:  var(--rpln);
  }

.rppostln > ::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 1px;
    border: 6px solid var(--rpln);
  }

.rppostln {
  background:var(--rpln);
  min-height:500px;
  width:710px;
  display:grid;
    margin: auto;
}

.rppost-top {
    width: 710px;F
    height: 50px;
  overflow:hidden;
  border-bottom:10px solid var(--border);
  
  
}

.rppost-top > div {
width: 100%;
    height: 100%;
    background-size: cover;
}
.rppost-bg {
    width: 150px;
    border-right: 1px solid var(--border);
  display:grid;
      grid-row: 1/4;
    grid-column: 1/2;
}
.rppost-bg > div {
    grid-column: 1/1;
    grid-row: 1/1;
}
.pkmlistrp {
z-index: 10;
    position: relative;
    align-content: center;
    gap: 50px;
    display: grid;
    justify-content: center;
}
.pkmlistrp > span img {
    background-image: linear-gradient(-45deg, var(--border), var(--rpln));
    border-radius: 5px;
    border: 1px solid var(--border);
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.motifln2 {
      background: #ededed;
    background-image: none;
    background-size: cover;
    z-index: 2;
    grid-row: 1/3;
    grid-column: 1/3;
    position: relative;
    mix-blend-mode: normal;
}

.pkm1 .txtinfo , .pkm2 .txtinfo, .pkm3 .txtinfo, .pkm4 .txtinfo, .pkm5 .txtinfo, .pkm6 .txtinfo {
    width: 120px;
    background:var(--rpln);
    color: var(--txt);
  border:solid 1px var(--border);
  font-weight:800;
  text-transform:lowercase;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    right: 80%;
    scale: 0;
    transform-origin: right;
    transition: .5s;
}

.txtinfo:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent transparent var(--rpln);
      margin-top: 1px;
      margin-left: 25px;
}

.pkm1:hover .txtinfo, .pkm2:hover .txtinfo, .pkm3:hover .txtinfo,
.pkm4:hover .txtinfo,
.pkm5:hover .txtinfo,
.pkm6:hover .txtinfo{
    scale:1;
}

.pkm1 , .pkm2, .pkm3, .pkm4, .pkm5 , .pkm6 {
  display: flex;
    align-items: center;
}

.cnrpln {
  display: grid;
}

.ttlln {
      z-index: 10;
    grid-row: 1;
    grid-column: 1/3;
  height:200px;
    position: relative;
}

.ttlln h1 {
    font-size: 32px;
    line-height: 30px;
    margin: 30px 30px 30px 115px;
    letter-spacing: -1px;
    z-index: 10;
    position: absolute;
    text-transform: uppercase;
    -webkit-box-decoration-break: slice;
  color:white;
    border: solid 1px var(--border);
    background-image: linear-gradient(-45deg, var(--border), var(--rpln));
    padding: 9px;
}

.ttlln h3 {
    text-align: left;
    margin-left: 165px;
    margin-top: 100px;
    font-style: italic;
}

.ttlln span.imgav {
      z-index: 4;
    height: 100px;
    width: 100px;
    position: absolute;
    border: solid 1px var(--border);
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 575px;
    background-image: var(--avaln);
    background-size: cover;
    background-position: center;
}

.crd {
  height: 100px;
    width: 100px;
      position: absolute;
    border: solid 1px var(--border);
    border-radius: 5px;
    rotate: 45deg;
        margin-top: 15px;
    margin-left: 575px;
    background-image: linear-gradient(45deg, var(--border), var(--rpln));}

.contentrp {
grid-row: 2;
    grid-column: 2;
    text-align: justify;
    z-index: 4;
    position: relative;
    backdrop-filter: blur(4px);
    padding: 25px;
    margin: 15px 15px;
    color: var(--txt);
    overflow: auto;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
}
.motifln {
  background-image: url(https://i.imgur.com/fusZ8Ii.jpg);
    background-size: cover;
    z-index: 2;
    grid-row: 1/3;
    grid-column: 2/3;
    position: relative;
    mix-blend-mode: overlay;
}

.msgadm {
      grid-row: 3;
    grid-column: 2/3;
    max-height: 100px;
  color:var(--txt);
    padding: 10px 80px;
    font-family: inter;
    font-style: italic;
}

.msgadm ttln {
      text-decoration: underline;
      font-weight: 900;
}


.imgav2 {
z-index: 4;
    height: 300px;
    width: 170px;
    background-image: var(--avaln);
    background-size: cover;
    background-position: center;
    grid-column: 1;
    grid-row: 1/4;
    position: sticky;
    top: 15px;
  margin: 15px;}

.rppostln b {background:var(--txt);
  line-height:1.7;
  padding:2px 2px;}

.pioup {
      height: 100%;
    grid-row: 1/4;
    grid-column: 1;
    display: grid;
    z-index: 3;
    position: relative;
  border-right:1px solid var(--border);
}

.pioup > div {
  grid-row:1;
  grid-column:1;
}



/*********************/



.ficherplnvance {
  background:white;
  display:flex;
    flex-direction: row;
      font-family: 'Inter';
}

.pokemonslot {
    width: 30%;
    background-image: var(--imagegauche);
    background-size: cover;
    background-position: center;
    display: grid;
    align-content: flex-end;
  padding: 10px;
     overflow: hidden; 
position: relative;
  grid-template-rows: 1fr;
}

.contenurpvance {
      display: flex;
    flex-direction: column;
    gap: 10px;
width:70%;
    padding: 20px;
  grid-row:2;
}

.contenurpvance > div:nth-of-type(1) {
  display: flex;
    padding: 30px;
}

.contenurpvance > div:nth-of-type(2) {

}

.contenurpvance > div:nth-of-type(2) div {
background-image: var(--iconimg);
    height: 100px;
    width: 100px;
    background-size: cover;
    outline: 1px solid var(--colorrp);
    outline-offset: 5px;
  border-radius: 100%;
  margin-left: -50px;
      position: relative;
    z-index: 12;
}

.contenurpvance > div:nth-of-type(2) span{
    z-index: 99;
    position: absolute;
    margin-top: -16px;
    border-radius: 5px;
    padding: 4px 10px;
    color: white;
     background: linear-gradient(90deg, var(--colorrp)30%, var(--couleurrp), var(--couleurrp), var(--couleurrp));
      background-size: 500% 100%;
  background-position: 0% 0%;
    transition: all ease 2s;}


.contenurpvance:hover > div:nth-of-type(2) span, .contenurpvance:hover .titrerpvance {
    background-position: 99.9% 0%;
transition: all ease 1s}

.contenurpvance:hover  div:nth-of-type(2) span strong {
    background: transparent;
  background-clip: unset;
-webkit-background-clip: unset;
-webkit-text-fill-color: unset;
  color:var(--colorrp);
  transition: all ease 1s
}
.contenurpvance:hover .tabskill {
  background:var(--colorrp);
    transition: all ease 1s
}
.contenurpvance > div:nth-of-type(2) span strong {
  background: linear-gradient(90deg, #ffffff 0%, var(--couleurrp) 100%);
    color:unset;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    transition: all ease 1s
}

.contenurpvance > div:nth-of-type(3) {
  border-radius: 10px;
background: #F1F1F1;
  text-align: justify;
  padding:80px 50px 30px 50px;
  margin-top: -50px;
    z-index: 10;
}

.avatarposteurvance {
  background-image:var(--avaposteur);
  width:100px;
  height:100px;
  border-radius:100%;
  background-size:cover;
z-index: 10;
  position:absolute;
      bottom: 20px;
    left: 20px;
}

.titrerpvance {
       background: linear-gradient(90deg, var(--colorrp)30%, var(--couleurrp), var(--couleurrp), var(--couleurrp));
      background-size: 500% 100%;
  background-position: 0% 0%;
    transition: all ease 2s;
  padding:8px 40px;
  color:white;
text-align: justify;
font-size: 20px;
font-weight: 400;
text-transform: uppercase;
}

 input[type=radio] {
    display: none;
}

/* Styles pour les boutons radio */
.tab-input {
 /* Masquer les boutons radio */
}

.tab {
  display: grid;
  z-index: 10;
  position: relative;
  cursor: pointer;
}

.tab img {
  background-size: cover;
  height: 50px;
}

/* Styles pour les onglets masqués */
.tab-content {
  position: absolute;
  height: 400px;
place-self: center;
  padding: 20px;
border-radius: 10px 10px 0px 0px;
background: rgba(244, 244, 244, 0.70);
  z-index: 4;
      margin-top: 2226px;
      width: 175px;
    display: flex;
  align-items: center;
      flex-direction: column;
    place-content: start;
  transition:1s ease all;
}

#tab1:checked ~ #content1 div > img, #tab2:checked ~ #content2 div > img, #tab3:checked ~ #content3 div > img, #tab4:checked ~ #content4 div > img, #tab5:checked ~ #content5 div > img, #tab6:checked ~ #content6 div > img {

       scale: 1;
  transition:ease .5s;
      transition-delay: .8s;
}

#tab1:checked ~ #content1 .pkmname, #tab2:checked ~ #content2 .pkmname, #tab3:checked ~ #content3 .pkmname, #tab4:checked ~ #content4 .pkmname, #tab5:checked ~ #content5 .pkmname, #tab6:checked ~ #content6 .pkmname {
  opacity:1;
    transition:ease .5s;
      transition-delay: 1.2s;
}
#tab1:checked ~ #content1 .tagsvance,
#tab2:checked ~ #content2 .tagsvance, #tab3:checked ~ #content3 .tagsvance, #tab4:checked ~ #content4 .tagsvance, #tab5:checked ~ #content5 .tagsvance, #tab6:checked ~ #content6 .tagsvance {
         scale: 1;
  transition:ease .5s;
      transition-delay: 1.4s;
}

#tab1:checked ~ #content1 .typesvance, #tab2:checked ~ #content2 .typesvance, #tab3:checked ~ #content3 .typesvance, #tab4:checked ~ #content4 .typesvance, #tab5:checked ~ #content5 .typesvance, #tab6:checked ~ #content6 .typesvance {
           scale: 1;
  transition:ease .5s;
      transition-delay: 1.6s;
}

.tab-content div > img {
margin-top: -91px;
    width: 140px;
    scale: 0;
    transform-origin: bottom;
  transition:all ease 1s;
}
.pkmname {
   opacity:0;
  color: #1C496D;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: bold;
text-transform: capitalize;
}
.tagsvance {
  text-align-last: center;
      scale: 0;
    transform-origin: bottom;
}
.tagsvance span {
  color: #FFF;
text-align: center;
font-size: 12px;
  padding:2px 10px;
font-weight: 500;
line-height: normal;
border-radius: 10px;
white-space: nowrap;
  border-radius:10px;
}
.typesvance {
        scale: 0;
    transform-origin: bottom;
  transition:all ease 1s;
}
.typesvance > div{
display: flex;
    flex-direction: row;
    place-content: center;
    gap: 10px;
    margin-top: 10px;
}
.typesvance > div span {
    width: 15px;
    height: 15px;
    display: flex;
  background-size: cover;
}
.typesvance > div span:nth-of-type(1) {
  background-image:var(--type1);
}
.typesvance > div span:nth-of-type(2) {
  background-image:var(--type2);
}

.typesvance > span {
  color: #1E1E1E;
  font-size:14px;
text-align: center;
font-weight: bolder;
text-transform: capitalize;
}

.tagsvance span.rouge {
  background: rgba(148, 63, 63, 0.80);
}

.tagsvance span.dbleu {
background: rgba(63, 77, 148, 0.80);
}

.tagsvance span.bleu {
background: rgba(63, 138, 148, 0.80);
}

.tagsvance span.vert {
background: rgba(63, 148, 72, 0.80);;
}

.tagsvance span.jaune {
background: rgba(148, 124, 63, 0.80);
}

.tagsvance span.mauve {
background: rgba(141, 63, 148, 0.80);
}

/* Appliquer les styles aux labels des boutons radio */
label[for^="tab"] {
position:absolute;
}

/* Exemple de styles pour chaque label spécifique */
label[for="tab1"] {
    left: 0px;
    z-index: 99;
    bottom: 94px;
}

label[for="tab2"] {
    bottom: 100px;
    left: 38px;
    z-index: 99;
}

label[for="tab3"] {
left: 76px;
    bottom: 93px;
}

label[for="tab4"] {
left: 102px;
    bottom: 63px;
}

label[for="tab5"] {
bottom: 27px;
    left: 103px;
}

label[for="tab6"] {
    left: 87px;
    bottom: -4px;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5, #tab6:checked ~ #content6 {
  margin-top:360px;
    transition:1s ease all;
}

div.pokemonskill {
  height: 80px;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    background: #1E1E1E;
    width: 350px;
    border-radius: 10px;
}

.pokemonskill > img:nth-of-type(1) {
      border: 1px solid white;
    border-radius: 100%;
  width: 90px;
    background: #1E1E1E;
}
.pokemonskill > div > div img {
  width:90px;
}
.pokemonskill > div > div {
  display: flex;
    flex-direction: row;
  gap:10px;
}

.pokemonskill > div {
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
      width: 100%;
  color: white;
    font-weight: bold;
}
detail {
      font-weight: 100;
    font-style: italic;
    color: #ffdb00;
}
.details {
  display: flex;
    align-items: center;
    padding: 2px 10px;
    background: #1b1b1b;
    margin-left: 10px;
    border: 1px solid black;
    width: 330px;
    border-radius: 0 0px 10px 10px;
    place-content: center;
}

  /* Style for the "scale(0)" radio button */
  input#showHideCheckboxScale0:checked + label[for="showHideCheckboxScale0"] + .comptpok {
    transform: scale(0);
    transition: 1s ease all;
    padding: 20px;
    background: #252525;
    border-radius: 10px;
  }

input#showHideCheckboxScale0:checked + label {display:none;}
input#showHideCheckboxScale1:checked + label {display:none;}
  input#showHideCheckboxScale1:checked + label[for="showHideCheckboxScale1"] + .comptpok {
    transform: scale(1);
    transition: 1s ease all;
    padding: 20px;
    border-radius: 10px;
  }

  .comptpok {
    transform-origin: top;
    transform: scale(0);
    position: absolute;
    transition: 1s ease all;
  }

.tabskill {
color: white;
    background: var(--couleurrp);
    padding: 4px 10px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
    width: 60px;
    font-weight: bold;
    margin-top: -56px;
    margin-left: 200px;
      justify-content: center;
    transition: all ease 1s;
}
