:root {
    --transition:0.3s ease-in-out;
  --ionicon-stroke-width:20px;
    --text: #1C191B;
    --contraste: #47034e;
    --neutral: #fbf9f9;
    --neutralDark: rgba(217, 217, 217, 0.3);
    --neutralDarker: #dce3f4;
    --contrast: #171938;
    --contrastLight: #232657;
    --contrastLighter: #c3c8f3;
    --accentClr:  rgba(80 119 119);
    --accentClr2:#ae8c5c;  
    --accentClrDark: #333c92;
    --textColor: #232657;
    --textColorAccent: #000;
    --border: 1px solid #E5E5E5;
    --shadowBox: 0 0 20px #23265730;
    --little-size: 12px;
    --normal-size: 16px;
    --medium-size: 20px;
    --large-size: 30px;
    --title-size: 50px;
    --font: 'Manrope', sans-serif;
    --title-font:'Forum', cursive;  
}

.post_row {
    background: var(--neutral);
    border-bottom: 1px solid var(--neutralDark);
}

.container {
    background: var(--neutralDark);
    padding: 10px;
    border-radius: 5px;
}

.main_forum {
    width: 1200px;
    /*largeur forum*/
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

.FLN_rp {
      padding: 50px;
  color:var(--text);
  text-align:justify;
}

.rp_txt {
    padding: 50px;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  text-align: justify;
  border:1px solid #e5e5e5;
}

.entete_rp {
      font-size: var(--medium-size);
    width: 100%;
    text-align-last: center;
  display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    height: 150px;
  overflow:hidden;
}

.entete_rp > div {
      grid-row: 1;
    grid-column: 1;
}

.entete_rp > div:nth-of-type(1) {
z-index: 10;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0px);
    flex-direction: column;
}

.entete_rp > div:nth-of-type(2) {
    background-size: cover;
    filter: brightness(1) contrast(0.3);
    z-index: 2;
    background-position: center;
transform:scale(1);
  transition:1s ease;
}

.entete_rp div > span {
  font-weight: bold;
    text-transform: uppercase;
    background: #d9d9d9;
    padding: 2px 10px;
    color: var(--accentClr);
}

.entete_rp name {box-shadow: inset 0 -0.4em 0 0 var(--accentClr);
    font-weight: bold;
    text-transform: uppercase;
    color: #f3f3f3;}


b1 {
    color: var(--accentClr);
    font-weight: 700;
}

b2 {
    color: var(--accentClr2);
    font-weight: 700;
}

i1 {
     color: var(--accentClr);
    font-style: italic;
}


i2 {
     color: var(--accentClr2);
    font-style: italic;
}

u1 {
    box-shadow: inset 0 -0.4em 0 0 var(--accentClr);
    font-weight: bold;
}

u2 {
      box-shadow: inset 0 -0.4em 0 0 var(--accentClr2);
    font-weight: bold;
}

.weeh::before {
    content: "";
    box-shadow: inset 0 0 0 200px rgb(42 43 53 / 30%);
    background-image: linear-gradient(to bottom, transparent 50%, black);
    z-index: 15;
    width: 100%;
    height: 350px;
    display: block;
    position: relative;
}

.rp_txt.v2 {
  padding: 0px;
}

.rp_txt.v2 .entete_rp {
  height:350px;
}

.rp_txt.v2 .entete_rp > div:nth-of-type(2) {
      filter: brightness(1) contrast(1);
  -webkit-mask-image: linear-gradient(to top, rgb(0 0 0 / 0%) 0%, rgb(0 0 0)30%);
}

.rp_txt.v3 {
     display: grid;
    grid-template-columns: auto 100px;
  padding: 40px;
  height: 100%;
    align-items: baseline;
}

.entete_rp.v3 {
grid-column: 2;
    position: sticky;
    top: 10px;
    grid-row: 1/3;
    height: 450px;
    margin-top: 59px;
}

.entete_rp.v3 > span {
    background-size: cover;
    background-position: center;
}

.rp_txt.v3 > div:nth-of-type(2) {
   grid-column: 1;
   grid-row: 1/3;
  grid-row-start: none;
}

.title {
    padding: 2px 10px;
    color: #111111;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: inset 0 -20px 0 0 var(--accentClr);
    margin-top: 10px;
}
.rp_txt.v3 .name {
margin-top: 15px;
    text-align: right;
    margin-bottom: 45px;
}
.flntabs a.active,.flntabs a:hover{color:#000;transition:.3s}.flntabs a.active,.flntabs ol:nth-of-type(3) span{background:var(--accent2)}.annexes,.flntabs,.onglet_liste,body,section{display:flex}.flntabs a,span.titleannexe{font-family:manrope;text-transform:uppercase}.index_conteneur{position:fixed;z-index:1000}*{box-sizing:border-box}:root{--text:rgba(7, 10, 26, 1);--contraste:rgba(225, 239, 247, 1);--accent:rgba(80 119 119);--accent2:#ae8c5c}body{margin: auto;background: linear-gradient(0deg, rgba(106 133 137), transparent), url(https://i.imgur.com/Q0fUHcj.png);color: var(--text);background-attachment: fixed;background-size: cover;}::-webkit-scrollbar{width:15px;height:15px;background-color:#fff}::-webkit-scrollbar-thumb{background-color:#000;border:7px solid #fff}.annexes_conteneur{z-index:90;font-size:16px;font-family:Arial;color:var(--text);display:flex;flex-direction:column}.annexefln{width:1200px;margin:auto}.index_conteneur{background-image:url(https://i.imgur.com/Q1EFiRY.png);color:#fff;width:100%;background-size:cover;background-position:center;border-bottom:5px solid #fff;transition:margin-top .8s}.onglet_liste{background:rgba(0 0 0 / 33%);height:100%;margin-top:-16px;backdrop-filter:blur(10px);justify-content:center}ul.flntabs{padding:0!important}.flntabs li:first-of-type{margin-top:40px}.flntabs ol{margin-top:20px;list-style-type:none}.flntabs ol span{font-family:manrope;font-weight:800;background:var(--accent);padding:5px;border-radius:2px;margin-bottom:10px}.flntabs a{font-size:20px;text-decoration:none;color:#fff;font-weight:600;transition:.3s}.FLN_rp{max-width: 1000px;}.flntabs a.active{padding:2px 4px;border-radius:2px}.annexes{color:var(--text);background:0 0/cover #fff;text-align:justify;width:100%;margin-top:200px}section{position:absolute;overflow:auto;transition:.3s;width:100%;justify-content:center;padding:100px;}.show{visibility:visible;opacity:1}.hide{visibility:hidden;opacity:0}span.titleannexe{font-size:35px;line-height:normal;text-underline-offset:5px;text-decoration:underline;text-decoration-style:double;color:var(--maincolo)}
