.hr_presentation {
    line-height: 1.5;
    width: 750px;
  font-family:montserrat;
    min-height: 1000px;
    border: 1px solid var(--noirclair);
    background:-o-linear-gradient(72deg, var(--maincolo) 20%, rgba(0,0,0,1) 100%);
    background:linear-gradient(18deg, var(--maincolo) 20%, rgba(0,0,0,1) 100%);
    gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
}

.top_presentation {
    display:-ms-grid;
    display:grid;
    -ms-grid-rows: 1fr 20px 1fr;
    grid-template-rows: 1fr 1fr;
    gap:20px;
    border-radius: 10px;
    border: 1px solid var(--noirclair);
    background: rgba(0,0,0,0.6);
  padding: 30px 0 20px 0;
}

.top_presentation > div:nth-of-type(1) {
height: 358px;
-ms-flex-negative: 0;
    flex-shrink: 0;
display:-ms-grid;
display:grid;
z-index: 10;  
-ms-grid-row: 1;  
grid-row: 1;
-ms-grid-column: 1;
-ms-grid-column-span: 2;
grid-column: 1/3;
}

.top_presentation .top_render {
color: #FFF;
font-family: montserrat;
font-size: 44px;
font-style: italic;
font-weight: 900;
line-height: 1;
-ms-grid-row-align: center;
    align-self: center;
text-transform: uppercase;
-ms-grid-row: 1;
grid-row: 1;
-ms-grid-column: 1;
grid-column: 1;
z-index: 2;
margin-left: 20px;
}

.bg_presentation {
    z-index: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        background-image:var(--bakcground1);
        background-size: cover;
        -webkit-filter:contrast(1) saturate(0) brightness(.2);
                filter:contrast(1) saturate(0) brightness(.2);
}

.top_presentation > div:nth-of-type(1) > div > div span {
    color: #1E1E1E;
    text-align: center;
    font-family: montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    background:var(--maincolo);
    padding:10px;
    line-height: 0;
}

.render_presentation {
    background-image: var(--bakcground2);
    background-size: cover;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-filter: brightness(0.5) blur(0px);
            filter: brightness(0.5) blur(0px);
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    width: 100%;
    height: 360px;
    z-index: 1;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}

.hr_presentation .boutons_presentation {
    -ms-grid-row: 2;
    grid-row: 2;
-ms-grid-column: 1;
-ms-grid-column-span: 2;
grid-column: 1/3;
z-index: 10;
    display: -ms-grid;
    display: grid;
    height: 358px;
overflow: hidden;
}

.hr_presentation .infos_presentation {
    list-style: none;
    color: #F9F9F9;
    font-family: 'Cinzel', serif;
    gap: 20px 200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 200px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;

}

.hr_presentation li {
    text-align: unset;
}

/********** .hr_presentation li span {
color: var(--maincolo);
font-family: montserrat;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
} ************/

.hr_presentation li span {
    font-family: montserrat;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;
    margin-right: 9px;
}

.hr_presentation .bottom_presentation {
    border-radius: 10px;
border: 1px solid var(--noirclair);
background: rgba(0,0,0,0.6);
padding: 30px;
}

.hr_presentation .bottom_presentation > span {
position: absolute;
margin-left: -30px;
color: #1E1E1E;
font-family: montserrat;
font-size: 24px;
background-color: var(--maincolo);
font-style: italic;
font-weight: 900;
text-transform: uppercase;
width: 400px;
display: block;
border-radius: 0 10px 10px 0;
padding: 10px;
}

.hr_presentation .bottom_presentation > div {
    margin-top: 70px;
    padding: 30px;
    text-align: justify;
    color: #F9F9F9;
}

.hr_presentation .boutons_presentation label {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    color:white;
    background:#1E1E1E;
    padding: 2px 20px;
    border-radius: 0 10px 10px 0;
    text-transform: uppercase;
}
.hr_presentation .boutons_presentation input {
display: none;
}
.hr_presentation .boutons_presentation label[for="tab-hiro1"] {
    margin-top:90px;
    }

.hr_presentation .boutons_presentation label[for="tab-hiro2"] {
margin-top:150px;
}

.hr_presentation .boutons_presentation label[for="tab-hiro3"] {
    margin-top:210px;
    }

.hr_presentation .boutons_presentation input[type=radio]:checked + label {
    color:#1E1E1E;
    background: var(--maincolo)
}

.hr_presentation .boutons_presentation  #tab-hiro2[type=radio]:checked ~ .hover1_presentation {
    background:rgba(27 27 27 / 44%);
    height: 360px;
    margin-top: -500px;
    -webkit-transition:.5s ease;
    -o-transition:.5s ease;
    transition:.5s ease;
}

.hr_presentation .boutons_presentation  #tab-hiro1[type=radio]:checked ~ .hover0_presentation {
    margin-top: -358px;
    -webkit-transition:.5s ease;
    -o-transition:.5s ease;
    transition:.5s ease;
}
.hr_presentation .hover0_presentation {
    margin-top: 20px;
    gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: right;
        justify-self: right;
    padding-right: 45px;
}

.hr_presentation .hover0_presentation > div:nth-of-type(1) {
    background-image: var(--imggif1);
    width: 120px;
    height: 120px;
    z-index: 10;
    position: relative;
    background-size: cover;
}

.hr_presentation .hover0_presentation > div:nth-of-type(2) {
    background-image: var(--imggif2);
    width: 120px;
    height: 120px;
    z-index: 10;
    position: relative;
    background-size: cover;
}

.hr_presentation .hover0_presentation > div:nth-of-type(3) {
    background-image: var(--imggif3);
    width: 120px;
    height: 120px;
    z-index: 10;
    position: relative;
    background-size: cover;
}

.hr_presentation .hover1_presentation {
    background:rgba(0,0,0,0.6);
    height: 360px;
    color:#F9F9F9;
    margin-top: 358px;
    -webkit-transition:.5s ease;
    -o-transition:.5s ease;
    transition:.5s ease;
    z-index: 3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hr_presentation .hover2_presentation {
    background: rgba(0,0,0,0.6);
    height: 0px;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    z-index: 3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color:#1E1E1E;
}

.hr_presentation .hover1_presentation > div, .hover2_presentation > div {
    -ms-grid-column: 2;
    grid-column: 2;
    text-align: justify;
    padding-right: 40px;
    height: 200px;
    overflow: auto;
}


.hr_presentation #tab-hiro2[type=radio]:checked ~ .render_presentation  {
    -webkit-filter: brightness(0.5) blur(9px);
            filter: brightness(0.5) blur(9px);
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    rotate: 30deg;
    -webkit-transition:.5s ease;
    -o-transition:.5s ease;
    transition:.5s ease;}


.hr_presentation .boutons_presentation  #tab-hiro3[type=radio]:checked ~ .hover2_presentation {
    background:var(--maincolo);
    height: 360px;
    margin-top: -1220px;
    -webkit-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
}

.hr_presentation #tab-hiro3[type=radio]:checked ~ .render_presentation  {
    -webkit-filter: brightness(1) blur(0px);
            filter: brightness(1) blur(0px);
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    -webkit-transition:.5s ease;
    -o-transition:.5s ease;
    transition:.5s ease;
}

.hr_presentation .slider_presentation1 {
    -ms-grid-columns: 1fr 200px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    gap: 20px 100px;
}
.hr_presentation .slider_presentation2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    overflow: auto;
    text-align: justify;
    font-family: montserrat;
}

.hr_presentation .slider_presentation3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    overflow: auto;
}
.slider_presentation.slider_presentation1 {    margin-left: 20px;}
        .hr_presentation .slider_presentation {
            display: none;
          height:240px;
        }
        .hr_presentation .slider_presentation.reveal {
            display: -ms-grid;
            display: grid;
        }

.hr_presentation .hr_presentation .skills_prez {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-self: center;
    -ms-grid-column-span: 2;
    gap: 0 20px;}

.hr_presentation .hr_presentation .skills_prez li {
    text-align: unset;
    list-style-type: none;
    gap: 20px;
    display: flex;
    place-items: center;
}

.hr_presentation .hr_presentation .skills_prez li span { 
color: var(--awards_color);
}

.hover2_presentation > .skills_prez {
        display: flex;
    flex-direction: column;
    place-content: center;
    margin-left: 4em;
}
/***************** DISCORD SMS ************************/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.conteneur_discordsocial {
  border-radius: 10px;
    color: #D9D9D9;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 4fr 2fr;
    grid-template-columns: 4fr 2fr;
    width: 1000px;
    height: 430px;
    background: var(--quikrep);
}
.conteneur_discordintro {
    margin: 30px;
}
.conteneur_discordmembres {
  border-radius: 0px 10px 10px 0px;
    background: var(--nrc);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    padding: 20px;
    gap: 5px;

}
.icongroupediscord {
background-image: var(--icongrouped);
width: 150px;
height: 150px;
background-size: cover;
border-radius: 100%;
}
span.profildis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
    gap: 10px;
    padding:5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;}
span.profildis > span > img {width:45px;height:45px;border-radius:100%;background-size:cover;-o-object-fit: cover;object-fit: cover;}

span.profildis:hover {
background: var(--nrf);
}
      .overlaydiscord1, .overlaydiscord2, .overlaydiscord3 {
        position: absolute;
        margin-left: 0px;
        width: 270px;
    	height: 400px;
        background: var(--maincolodiscord1);
        opacity: 0;
        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
        z-index: 1;
        display: -ms-grid;
        display: grid;
        padding: 10px;
        -ms-grid-rows: 3fr 2fr;
        grid-template-rows: 3fr 2fr;
      }
      .revealdiscord {
        opacity: 1!important;
        margin-left: -287px!important;
      }
      .ava_discord {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 20px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }
      .ava_discord img {
        margin-top: -22px;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        -o-object-fit: cover;
           object-fit: cover;
      }
      .ava_discord > span {
        border-radius: 2px;
        background:#D9D9D9;
        padding:2px;
        color: #1E1E1E;
        text-align: center;
        font-family: Inter;
        font-size: 10px;
        font-weight: 600;
      }
      .bottom_discord {
        padding: 0 10px;
        border-radius: 0px 0px 10px 10px;
        background: var(--maincolodiscord2);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-weight: 400;
        gap: 5px;
  	place-content: space-around;
      }

      .discord_pseudo {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
      }

      .pintCont {
        -webkit-columns: 3;
           -moz-columns: 3;
                columns: 3;
        -webkit-column-gap: 10px;
           -moz-column-gap: 10px;
                column-gap: 10px;
        display: unset!important;
        overflow: auto;
        min-height: unset!important;
    }
    .pintCont .pintBox {
        -webkit-column-break-inside: avoid;
           -moz-column-break-inside: avoid;
                break-inside: avoid-column;
        margin-bottom: 10px;
    }
    .pintCont * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .pintCont .pintBox img {
        max-width: 100%;
        border-radius: 5px;
    }
.cont_mention_discord {
position: absolute;
    display: flex;
    gap: 20px;
    padding: 10px;
}
.mention_discord {
    padding: 5px 8px;
    background: var(--quikrep);
    display: flex;
    place-items: center;
    gap: 0px;
    border: 1px solid var(--bleu);
    border-radius: 5px;
    color: var(--blanblanc);
}
.mention_discord .rep-nb {
    background-color: transparent;
    border-radius: 2px;
    margin-left: 5px;
    font-size: 11px;
    padding: 0;
    vertical-align: 1px;}
.cont_reponse_discord {
    position: absolute;
    margin-top: -55px;
    font-size: 10px;
    display: flex;
    gap: 5px;
    background: var(--quikrep);
    padding: 2px 5px;
    border-radius: 2px}

.cont_reponse_discord > img {
width: 20px;
    height: 20px;
    border-radius: 100%;
    object-fit: cover;}
.cont_reponse_discord > mentioned {
    font-weight: bolder;
    background: var(--bleu);
    padding: 0px 4px;
    border-radius: 2px;}
.comment:nth-of-type(even) .discord_bulle {
background:var(--bleufonce);
  border-radius: 10px 0px 0px 10px;
}

.comment:nth-of-type(even) .hover_like_discord > div {
background: var(--nrc);}

.discord_bulle {
padding: 30px;background: var(--nrc);border-radius: 0 10px 10px 0px;}

.comment:nth-of-type(even) .cont_reponse_discord {background: var(--bleu);}
.comment:nth-of-type(even) .mention_discord {
background: var(--bleuclair);}
.discord_bulle:before {
    content: "";
    display: block;
    position: absolute;
    margin-left: -53px;
    margin-top: -20px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12px;
    border-color: transparent var(--nrc) transparent transparent;}

.comment:nth-of-type(even) .discord_bulle:before {
    content: "";
       margin-left: 370px;
    border-color: transparent transparent transparent var(--bleufonce);}

.comment-author {
     margin-left: 0px!important;
}

.hover_like_discord {
display:grid;}

.hover_like_discord > div {
    padding: 0px 5px;
    background: var(--bleufonce);
    border-radius: 5px;
    color: var(--bleuclair);
    border-left: none;
    position: absolute;
    margin-left: 35px;
  margin-top: 10px;}

.rep-button, .rep-button:focus, .rep-button:active {
  padding: 3px 5px;}
.rep-button i {
    margin: 0 0px 0 0;
}
#blog_comments .fa_like_div {margin-top: -25px;}
#blog_comments .fa_like_div, #blog_comments .fa_like_div > button  {
display:flex;}
.fa_like_list, .fa_dislike_list, .option_voters_list {
    border-left: unset;
    color: rgba(255 255 255 / 60%);
    font-size: inherit!important;
    padding: 4px 0;
    margin: auto;
    font-style: italic;
    text-transform: lowercase;
    font-size: 10px!important;
}
#blog_comments .comment > div .fa_like_div.like_containerz button {
    opacity: 0;
    transform: scaleX(0%);
    transform-origin: left center;
}

#blog_comments .comment:hover > div .fa_like_div button.reveal_discord-button, #blog_comments .comment:hover > div .fa_like_div button, .comment:hover > div .hover_like_discord > div {
    transform: scaleX(100%);
    opacity: 1;
    transition: .5s ease;
}
.openerdiscord {display: flex;flex-direction: column;gap: 1px; line-height: 1; background: var(--blf);width: 400px;border-radius: 10px; height: 200px;justify-content: center;box-shadow: rgba(0,0,0,0.05) 0px 0px 16px;}
.openerdiscord span img {width: 100px;height: 100px;border-radius: 100%;outline: 1px solid var(--bleuc);outline-offset: 5px;object-fit: cover;}
/************* FIN DISCORD SMS *******************/

.con_info_event {
  object-fit: cover;
      height: 300px;
      display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr;
}

.cont_event_pnj {padding: 20px;
    border-radius: 10px;
  background: rgb(0 0 0 / 30%);}

.cont_event_pnj img {    
    width: 100%;
    object-fit: cover;}

.con_info_event {
  padding:20px;
  border-radius: 10px;
  border: 1px solid #151515;
  background: rgba(27 27 27 / 80%);
  min-height:200px;
  display: grid;
    gap: 30px;
  grid-template-columns: 1fr 8fr;
}
.con_perso_event {
}

.infos_pnj_one, .infos_pnj_two  {
  color:white;
  border-radius: 10px;
border: 1px solid #151515;
background: rgba(27 27 27 / 80%);
  padding:20px;
    display: grid;
  gap:10px;
    grid-template-columns: 2fr 1fr;
}
.infos_pnj_two {
      grid-template-columns: 1fr 3fr!important;
}

.infos_pnj_two > div:nth-of-type(2), .infos_pnj_one > div:nth-of-type(1) {
  display: flex;
    flex-direction: column;
}

.infos_pnj_two > div:nth-of-type(2) , .infos_pnj_one > div:nth-of-type(2) {padding:20px;border-radius: 10px;
border: 1px solid #1E1E1E;
background: #151515;}

#pnj-fiche namepnj {
  color:var(--couleurannexe);
  font-weight:800;
  text-transform: uppercase;
    font-size: 35px;
}

.infos_pnj_two img {
    border-radius: 100%;
    width: 100%;
}

.cont_event_pnj.pnj_two {
  background:none;
  padding:0;
}
.cont_event_pnj.pnj_two > div {
padding:10px;
color:white;
border-radius: 10px;
border: 1px solid #1E1E1E;
background: #151515;
overflow: auto;}


#pnj-fiche .runes_pnj {
display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
  color:white;
}

.cont_event_pnj.pnj_two rune {
    float: left;
}

#pnj-fiche .runes_pnj > div {
  border-radius: 10px;
    padding:10px;
border: 1px solid #1E1E1E;
background: #151515;
  display:flex;
}

.pnj_buttons_event {
      display: flex;
    flex-direction: column;
    justify-content: space-evenly;
      grid-column: 1;
    grid-row: 1/2;
}

.pnj_buttons_event a {
  position: relative;
    display: block;
  width:50px;
  height:50px;
  pointer:cursor;
  border-radius:10px;
  background:var(--couleurannexe);
}

.pnj_buttons_event a.pnjactive {
  background:white;
}

.cont_event_pnj.pnj_one, .cont_event_pnj.pnj_two{grid-column: 2;
    grid-row: 1/2;}

  .cont_event_pnj, .cont_event_infos {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .cont_event_pnj.pnjactive, .cont_event_infos.pnjactive {
    max-height: 500px; /* Ajustez la hauteur maximale selon vos besoins */
    opacity: 1;
  }

comp_pnj{
  color: var(--couleurannexe);
font-size: 16px;
font-style: italic;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
}
